h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    }

.container {
box-sizing: border-box;
align-items:baseline;
justify-content: space-between;
flex-wrap: wrap;
flex-basis:100%;
width: 500px;
margin: 10px;
padding: 20px;
border: 10px;
width:auto;
height:auto;

}

div{
display: flex;
flex-direction: row; 
flex-wrap: nowrap;
align-items:stretch;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
border: 1px; 

}

.article {
display:flex;
flex-direction: column;
justify-content: flex-start;
width: 200px;
}

.article-2 {
    display:flex;
    width: 200px;
    flex-direction: column;
    flex-shrink:1;
    margin: 10px;
    }


aside{
align-self: flex-start;
display: inline-flex;
flex-direction: row; 
flex-wrap: nowrap;
align-items:flex-end;
justify-content: flex-end;
flex-grow:0;
width: 250px
}

footer {
display:flex;
flex-direction: row;   
justify-content: center;
flex: 1 0 0; 
flex-basis:25%;
}

.footer-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;  
flex-basis: 100%;
flex-shrink:0;
margin: 10px;
}
